{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "privateMethod": false,
            "classPrivateProperty": false
        },

        "loose": true,
        "target": "es2015",
        "transform": {
            "legacyDecorator": true
        }
    },
    "env": {
        "targets": {
            "safari": "13"
        }
    }
}
