{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "privateMethod": true,
            "classPrivateProperty": true
        },
        "loose": true,
        "target": "es5",
        "transform": {
            "legacyDecorator": true
        }
    },
    "env": {
        "targets": {
            "safari": "13"
        }
    }
}
