{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "privateMethod": true,
            "classPrivateProperty": true
        },

        "loose": true,
        "target": "es2015",
        "transform": {
            "legacyDecorator": true
        }
    }
}
