.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid var(--mainColorDk);
    border-radius: 50%;
    z-index: 9999;
    animation: spin 1s linear infinite;
}

.spinnerSm {
    width: 20px;
    height: 20px;
}

.spinnerMd {
    width: 25px;
    height: 25px;
}

.spinnerLg {
    width: 30px;
    height: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
