.pending,
.accepted {
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
}

.pending li,
.accepted li {
    display: flex;
    margin: 5px;
    cursor: pointer;
    padding: 5px;

    &:hover {
        background-color: var(--blue20);
    }
}

.pending span:first-child,
.accepted span:first-child {
    /* border: 1px solid red; */
    padding: 10px;
}

.button {
    display: flex;
    gap: 3px;
}

.nothing {
    margin: 50px auto;
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
