.inputBase {
    width: 100%;
    color: var(--grey800);
    padding: 5px;
    color: var(--grey900);
    height: 30px;
    font-weight: 500;
    font-size: 20px;
    border-radius: 1px;
    caret-color: var(--mainColorDk);
    outline: none;
    border: 0 none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.inputBase:focus {
    border-bottom-color: var(--mainColorLg);
}

.hasError {
    color: var(--red500);
    border-bottom-color: var(--red500);
}

.inputBase.hasError:focus {
    border-bottom-color: var(--red500);
}
