.container {
    margin-top: 20px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5px;
}

.disabled {
    display: none;
}

.calendar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: var(--blue20);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
}

.header {
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
}

.monthLabel {
    flex: 1;
    font-size: 20px;
}

.table {
    margin-top: 15px;
}

.table th {
    padding: 10px;
}

.dateCell {
    cursor: pointer;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 15px;
    background-color: transparent;
    color: black;
}

.visited {
    background-color: var(--blue400);
    border-radius: 50%;
    color: white;
}

.placeName {
    display: block;
    margin-top: 4px;
    font-size: 10px;
    color: #333;
}

.review {
    margin-bottom: 5px;
}

.selected {
    background-color: var(--mainColorDk);
    border-radius: 50%;
    color: white;
}

.notCurrent {
    color: var(--grey400);
}
