/* .container {
    border: 2px solid red;
} */

.container svg {
    margin-right: 5px;
}

/* 메인 이미지 */

.mainImg {
    display: block;
    width: 100%;
    max-height: 350px;
    height: auto;
    margin: 0;
    padding: 0;
}

/* 즐겨찾기, 리뷰 */

.bookmark {
    padding: 10px;
    cursor: pointer;
}

/* 영업 시간 */

.openHour {
    padding: 7px;
}

.openHour li {
    padding: 5px;
    line-height: 1.2;
}

.notice {
    text-align: right;
    width: 100%;
}

.left {
    width: 100px;
}

.middle {
    width: 100px;
}

.right {
    width: 110px;
}

/* 위치 */

.position {
    padding: 7px;
}

.position li > div {
    padding: 5px;
    display: flex;
    line-height: 1.3;
    align-items: flex-start;
}

.position li > div > span {
    display: flex;
    width: 40px;
}

/* 태그 */

.tag {
    padding: 7px;
}

.tag li > div {
    display: flex;
    align-items: center;
    line-height: 1.3;
    padding: 5px;
}

.taglist {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* 메뉴 */

.menu {
    padding: 7px;
}

.menu li > div {
    line-height: 1.3;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
}

.menuBtn,
.menuBtn svg {
    cursor: pointer;

    &:hover {
        color: var(--mainColorDk);
        fill: var(--mainColorDk);
    }
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

/* 나의 리뷰 */

.review {
    padding: 7px;
}

.myreview {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    background-color: var(--grey100);
    border-radius: 15px;
}

.myreview span {
    padding: 5px;
    line-height: 1.5;
}

.emptyReview {
    padding: 8px;
    text-align: center;
    margin-bottom: 10px;
}

.emptyReview button {
    width: 60%;
}

/* 다른 사람 리뷰 */

.otherReview {
    padding: 10px;
}

.reviewCard {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.cardContent {
    padding: 10px;
}

.cardHeader {
    display: flex;
    margin-bottom: 7px;
}

.cardHeader span:nth-child(1) {
    flex: 1;
    line-height: 1.2;
}

.cardHeader span:nth-child(2) {
    width: 80px;
    text-align: right;
}

.previewImg {
    position: relative;
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}

.sliderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.reviewImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;

    margin: 0 auto;
}

.empty {
    margin-top: 5px;
    height: 130px;
    border-radius: 8px;
    background-color: whitesmoke;
}
