.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.avatar img {
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
