.header {
    display: flex;
    text-align: center;
    padding: 10px;
    align-items: center;
}

.monthLabel {
    flex: 1;
    color: var(--mainColorDk);
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 400px;
    background-color: white;
    padding: 25px;
    cursor: pointer;
}

.table {
    margin-top: 15px;
}

.dateCell {
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3.3rem;
    font-size: 15px;
    background-color: transparent;

    /* border: 1px solid black; */
}

.today {
    font-size: 11px;
    text-align: center;
    color: var(--mainColorDk);
}

.dateCell:hover {
    background-color: var(--mainColor);
    color: white;
    border-radius: 50%;
}

.selected {
    border-radius: 50%;
    background-color: var(--mainColor);
    color: white;
}
