.header {
    background-color: var(--mainColor);
    height: 75px;
    z-index: 1000;
    width: 100%;
    display: flex;
}

.header img {
    border-radius: 50px;
    margin-left: 5px;
}

.header svg {
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.content {
    overflow-y: auto;
    scrollbar-width: thin;
    height: calc(100vh - 115px);
}

.user {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
        color: var(--grey800);
    }
}

.user svg {
    background-color: white;
    border-radius: 50%;
}

.controller {
    display: flex;
}
