.container svg {
    margin-right: 5px;
}

/* header */

.header {
    background-color: var(--mainColor);
    padding: 10px;
    height: 55px;
}

.header ul {
    margin-top: 15px;
    color: var(--grey800);
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.header li {
    gap: 10px;
}

/* 영업 시간 */

.openHour {
    padding: 7px;
}

.openHour li {
    padding: 5px;
    line-height: 1.2;
}

.display {
    text-align: right;
    width: 100%;
}

/* 전화번호 */

.phone {
    padding: 7px;
}

/* 위치 */

.position {
    padding: 7px;
}

.position li > div {
    padding: 5px;
    display: flex;
    line-height: 1.3;
    align-items: start;
}

.position li > div > span {
    display: flex;
    width: 40px;
}

/* 태그 */

.tag {
    padding: 7px;
}

.tag li > div {
    display: flex;
    align-items: center;
    line-height: 1.3;
    padding: 5px;
}

.tag li > span {
    margin-right: 5px;
}

/* 메뉴 */

.menu {
    padding: 7px;
}

.menu li > div {
    line-height: 1.3;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
