.following {
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
}

.following li {
    display: flex;
    margin: 5px;
    cursor: pointer;
    padding: 5px;

    &:hover {
        background-color: var(--blue20);
    }
}

.following span:first-child {
    padding: 10px;
}
