.login {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    line-height: 1.2;
}

.loginBtn {
    padding: 7px;
}

.business {
    /* border: 1px solid black; */
    padding: 5px;
    color: var(--mainColorDk);
    cursor: pointer;
    display: flex;
    padding: 5px;

    &:hover {
        color: var(--mainColor);
    }
}

.business button {
    justify-content: right;
}
