.header {
    background-color: var(--mainColor);
    height: 75px;
    z-index: 1000;
    width: 100%;
    display: flex;
}

.header img {
    border-radius: 50px;
    margin-left: 5px;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.logout {
    padding: 7px;
    cursor: pointer;
}

.logout span:hover {
    color: var(--grey600);
}

.content {
    overflow-y: auto;
    scrollbar-width: thin;
    height: calc(100vh - 75px);
}
