.layout {
    margin-top: 10px;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    /* margin-top: 5px; */
    line-height: 1.1;
    padding: 5px;
}

.nonReview {
    margin: 50px auto;
    width: 60%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom button {
    display: flex;
    justify-content: right;
}
