.rate {
    display: flex;
    text-align: center;
    margin: 10px 0px;
}

.rate svg {
    cursor: pointer;
}

.evalue {
    /* border: 1px solid red; */
    font-size: 13px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
