/* .layout {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question {
    padding: 5px;
}

.button {
    display: flex;
    gap: 10px;
} */

.layout svg {
    margin: 0 auto;
}

.layout {
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid black; */
    text-align: center;
}

.question {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    display: flex;
    gap: 10px;
    /* border: 1px solid red; */
    padding: 10px;
    margin-top: 10px;
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

.answer button {
    width: 50%;
    margin: 0 auto;
}
