.container {
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin-top: 15px;
}

.content {
    overflow-y: auto;
    scrollbar-width: thin;
    min-height: 100%;
    position: relative;
}

.container svg {
    margin-right: 3px;
}

.container li {
    padding: 5px;
    margin: 10px;
}

.positive,
.negative {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px;
    cursor: pointer;
}
